---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-server
  namespace: zowe
  labels:
    app.kubernetes.io/name: zowe
    app.kubernetes.io/instance: zowe
    app.kubernetes.io/version: "2.1.0"
    app.kubernetes.io/component: app-server
    app.kubernetes.io/part-of: app-server
    app.kubernetes.io/managed-by: manual
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: zowe
      app.kubernetes.io/instance: zowe
      app.kubernetes.io/component: app-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: zowe
        app.kubernetes.io/instance: zowe
        app.kubernetes.io/component: app-server
    spec:
      securityContext:
        runAsUser: 20000
        runAsGroup: 20000
        fsGroup: 20000
        runAsNonRoot: true
      serviceAccountName: zowe-sa
      volumes:
        - name: tmp
          emptyDir: {}
        - name: zowe-runtime
          emptyDir: {}
        - name: zowe-config
          configMap:
            name: zowe-config
        - name: zowe-keystore
          projected:
            sources:
              - secret:
                  name: zowe-certificates-secret
        - name: zowe-logs
          emptyDir: {}
        - name: zowe-workspace
          persistentVolumeClaim:
            claimName: zowe-workspace-pvc
      containers:
        - name: app-server
          image: zowe-docker-snapshot.jfrog.io/ompzowe/app-server:2.1.0-ubuntu.v2-x-staging
          imagePullPolicy: Always
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          ports:
            - name: app-server-port
              containerPort: 7556
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: 7556
            # this should give 18 * periodSeconds(default to 10) seconds about 3 minutes to confirm it's ready
            periodSeconds: 10
            failureThreshold: 18
          livenessProbe:
            tcpSocket:
              port: 7556
            # this should give 3 * periodSeconds(default to 10) seconds about 30 seconds to confirm it's offline
            periodSeconds: 10
            failureThreshold: 3
          command: ["/bin/bash", "-c"]
          args:
            - "/home/zowe/runtime/bin/zwe internal start -c /home/zowe/instance/zowe.yaml"
          env:
            - name: ZWE_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: KEYSTORE_CERTIFICATE_AUTHORITY
              # FIXME: ZWE_zowe_certificate_pem_certificateAuthorities is not recognized
              value: /home/zowe/keystore/ca.cer,
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "/home/zowe/runtime/bin/zwe internal container prestop -c /home/zowe/instance/zowe.yaml"]
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            capabilities:
              drop:
                - all
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: zowe-runtime
              mountPath: "/home/zowe/runtime"
            - name: zowe-config
              mountPath: "/home/zowe/instance/zowe.yaml"
              subPath: zowe.yaml
              readOnly: true
            - name: zowe-keystore
              mountPath: "/home/zowe/keystore"
              readOnly: true
            - name: zowe-logs
              mountPath: "/home/zowe/instance/logs"
            - name: zowe-workspace
              mountPath: "/home/zowe/instance/workspace"
      initContainers:
        - name: init-zowe
          image: zowe-docker-snapshot.jfrog.io/ompzowe/zowe-launch-scripts:2.5.0-ubuntu.v2-x-staging
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "10m"
            limits:
              memory: "128Mi"
              cpu: "100m"
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            capabilities:
              drop:
                - all
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: zowe-runtime
              mountPath: "/home/zowe/runtime"
            - name: zowe-workspace
              mountPath: "/home/zowe/instance/workspace"
