################################################################################
# This program and the accompanying materials are made available under the terms of the
# Eclipse Public License v2.0 which accompanies this distribution, and is available at
# https://www.eclipse.org/legal/epl-v20.html
#
# SPDX-License-Identifier: EPL-2.0
#
# Copyright Contributors to the Zowe Project.
################################################################################

################################################################################
# It's recommended to run <instance-dir>/bin/utils/convert-for-k8s.sh
# on z/OS to convert your existing keystore to this ConfigMap definition.

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: zowe-config
  namespace: zowe
  labels:
    app.kubernetes.io/name: zowe
    app.kubernetes.io/instance: zowe
    app.kubernetes.io/managed-by: manual
data:
  instance.env: |
    #!/bin/sh

    # global config
    ROOT_DIR=/home/zowe/runtime
    ZOWE_PREFIX=ZWE
    ZOWE_INSTANCE=1

    # FIXME: your Kubernetes cluster domain names
    ZWE_EXTERNAL_HOSTS=localhost
    ZOWE_EXTERNAL_HOST=$(echo "${ZWE_EXTERNAL_HOSTS}" | awk -F, '{print $1}' | tr -d '[[:space:]]')
    ZOWE_ZOS_HOST=<zowe-on-zos-host-name>

    # FIXME: z/OS MF config
    ZOSMF_PORT=443
    ZOSMF_HOST=<zosmf-host-name>

    # keystore config
    KEYSTORE_DIRECTORY=/home/zowe/keystore

    # APIML variables
    CATALOG_PORT=7552
    DISCOVERY_PORT=7553
    GATEWAY_PORT=7554
    APIML_ALLOW_ENCODED_SLASHES=true
    APIML_CORS_ENABLED=false
    # this configuration is deprecated. Zowe start script will ignore this value and always set it to false
    APIML_PREFER_IP_ADDRESS=false
    APIML_GATEWAY_TIMEOUT_MILLIS=600000
    APIML_SECURITY_X509_ENABLED=true
    APIML_SECURITY_ZOSMF_APPLID=izudflt
    APIML_SECURITY_AUTH_PROVIDER=zosmf
    # Number of discovery services
    ZWE_DISCOVERY_SERVICES_REPLICAS=2
    # Enable debug logging for Api Mediation Layer services
    APIML_DEBUG_MODE_ENABLED=false
    APIML_MAX_CONNECTIONS_PER_ROUTE=100
    APIML_MAX_TOTAL_CONNECTIONS=1000
    APIML_GATEWAY_EXTERNAL_MAPPER=https://${GATEWAY_HOST}:${GATEWAY_PORT}/zss/api/v1/certificate/x509/map
    APIML_SECURITY_AUTHORIZATION_ENDPOINT_URL=https://${GATEWAY_HOST}:${GATEWAY_PORT}/zss/api/v1/saf-auth

    ####################
    # caching service
    # TCP port of caching service
    ZWE_CACHING_SERVICE_PORT=7555
    # specify amount of records before eviction strategies start evicting
    ZWE_CACHING_STORAGE_SIZE=10000
    # specify eviction strategy to be used when the storage size is achieved
    ZWE_CACHING_EVICTION_STRATEGY=reject
    # specify persistent method of caching service
    # possible options: <empty> (will fall back to inMemory), VSAM, redis, infinispan
    ZWE_CACHING_SERVICE_PERSISTENT=
    # specify the data set name of the caching service VSAM data set
    ZWE_CACHING_SERVICE_VSAM_DATASET=IBMUSER.ZWE.CACHE1

    # explorer variables
    JOBS_API_PORT=8545
    FILES_API_PORT=8547
    JES_EXPLORER_UI_PORT=8546
    MVS_EXPLORER_UI_PORT=8548
    USS_EXPLORER_UI_PORT=8550
    ZOWE_EXPLORER_FRAME_ANCESTORS="${ZOWE_EXTERNAL_HOST}:*,${ZOWE_EXPLORER_HOST}:*,${ZOWE_IP_ADDRESS}:*" # comma seperated list of hosts allowed to embed explorers

    # app framework (app-server, zss, zis) variables
    ZOWE_ZLUX_SERVER_HTTPS_PORT=8544
    ZOWE_ZSS_SERVER_PORT=8542
    ZOWE_ZSS_SERVER_TLS=true # Set this to false if you need to use ZSS without TLS (Backward-compat). May be needed if encountering desktop login failure due to app-server to ZSS communication failure
    ZOWE_ZSS_XMEM_SERVER_NAME=ZWESIS_STD
    ZWES_ZIS_LOADLIB=
    ZWES_ZIS_PLUGINLIB=
    ZWES_ZIS_PARMLIB=
    ZWES_ZIS_PARMLIB_MEMBER=ZWESIP00

    # terminal app variables
    ZOWE_ZLUX_SSH_PORT=22
    ZOWE_ZLUX_TELNET_PORT=23
    ZOWE_ZLUX_SECURITY_TYPE=

    # Log level for launch scripts. Set this to "debug" to see detail of validate and configure steps.
    ZWE_LOG_LEVEL_ZWELS=

    # Extender variables
    ZWEAD_EXTERNAL_STATIC_DEF_DIRECTORIES= # For third-party extender to add the full path to the directory containing their static yml definition semi-colon separated
    EXTERNAL_COMPONENTS= # For third-party extender to add the full path to the directory containing their component lifecycle scripts
    APIML_SECURITY_ZOSMF_JWT_AUTOCONFIGURATION_MODE=auto

    ZWED_agent_host=${ZOWE_ZOS_HOST}
    ZWED_agent_https_port=${ZOWE_ZSS_SERVER_PORT}
    ZOWE_ZLUX_TELNET_HOST=${ZWED_agent_host}
    ZOWE_ZLUX_SSH_HOST=${ZWED_agent_host}
