---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: <my-component-name>
  namespace: zowe
  labels:
    app.kubernetes.io/name: zowe
    app.kubernetes.io/instance: zowe
    # app.kubernetes.io/version:
    app.kubernetes.io/component: <my-component-name>
    # app.kubernetes.io/part-of:
    app.kubernetes.io/managed-by: manual
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: zowe
      app.kubernetes.io/instance: zowe
      app.kubernetes.io/component: <my-component-name>
  template:
    metadata:
      labels:
        app.kubernetes.io/name: zowe
        app.kubernetes.io/instance: zowe
        app.kubernetes.io/component: <my-component-name>
    spec:
      securityContext:
        runAsUser: 20000
        runAsGroup: 20000
        fsGroup: 20000
        runAsNonRoot: true
      serviceAccountName: zowe-sa
      volumes:
        - name: tmp
          emptyDir: {}
        - name: zowe-runtime
          emptyDir: {}
        - name: zowe-instance
          emptyDir: {}
        - name: zowe-config
          configMap:
            name: zowe-config
        - name: zowe-keystore
          projected:
            sources:
              - secret:
                  name: zowe-certificates-secret
        - name: zowe-logs
          emptyDir: {}
        - name: zowe-workspace
          persistentVolumeClaim:
            claimName: zowe-workspace-pvc
      containers:
        - name: <my-component-name>
          image: <my-component-image>
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "10m"
            limits:
              memory: "128Mi"
              cpu: "100m"
          ports:
            - name: <my-component-port-name>
              containerPort: <my-component-port>
              protocol: TCP
          startupProbe:
            tcpSocket:
              port: <my-component-port>
            # this should give 18 * periodSeconds(default to 10) seconds about 3 minutes to confirm it's ready
            periodSeconds: 10
            failureThreshold: 18
          livenessProbe:
            tcpSocket:
              port: <my-component-port>
            # this should give 3 * periodSeconds(default to 10) seconds about 30 seconds to confirm it's offline
            periodSeconds: 10
            failureThreshold: 3
          command: ["/bin/bash", "-c"]
          args:
            - "/home/zowe/runtime/bin/zwe internal start -c /home/zowe/instance/zowe.yaml"
          env:
            - name: ZWE_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "/home/zowe/runtime/bin/zwe internal container prestop -c /home/zowe/instance/zowe.yaml"]
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            capabilities:
              drop:
                - all
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: zowe-runtime
              mountPath: "/home/zowe/runtime"
            - name: zowe-config
              mountPath: "/home/zowe/instance/zowe.yaml"
              subPath: zowe.yaml
              readOnly: true
            - name: zowe-keystore
              mountPath: "/home/zowe/keystore"
              readOnly: true
            - name: zowe-logs
              mountPath: "/home/zowe/instance/logs"
            - name: zowe-workspace
              mountPath: "/home/zowe/instance/workspace"
      initContainers:
        - name: init-zowe
          image: zowe-docker-release.jfrog.io/ompzowe/zowe-launch-scripts:2-ubuntu
          imagePullPolicy: Always
          resources:
            requests:
              memory: "64Mi"
              cpu: "10m"
            limits:
              memory: "128Mi"
              cpu: "100m"
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            privileged: false
            runAsNonRoot: true
            capabilities:
              drop:
                - all
          volumeMounts:
            - name: tmp
              mountPath: /tmp
            - name: zowe-runtime
              mountPath: "/home/zowe/runtime"
            - name: zowe-workspace
              mountPath: "/home/zowe/instance/workspace"
---
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: <my-component-name>-pdb
  namespace: zowe
  labels:
    app.kubernetes.io/name: zowe
    app.kubernetes.io/instance: zowe
    # app.kubernetes.io/version:
    app.kubernetes.io/component: pdb
    app.kubernetes.io/managed-by: manual
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: zowe
      app.kubernetes.io/instance: zowe
      app.kubernetes.io/component: <my-component-name>
