apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: cleanup-static-definitions
  namespace: zowe
  labels:
    app.kubernetes.io/name: zowe
    app.kubernetes.io/instance: zowe
    app.kubernetes.io/version: "1.25.0"
    app.kubernetes.io/component: job-cleanup-static-definitions
    app.kubernetes.io/managed-by: manual
spec:
  schedule: "*/15 * * * *"
  successfulJobsHistoryLimit: 5
  failedJobsHistoryLimit: 5
  startingDeadlineSeconds: 1200
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            runAsUser: 20000
            runAsGroup: 20000
            fsGroup: 20000
          serviceAccountName: zowe-sa
          volumes:
            - name: zowe-runtime
              emptyDir: {}
            - name: zowe-instance
              emptyDir: {}
            - name: zowe-config
              configMap:
                name: zowe-config
            - name: zowe-keystore
              projected:
                sources:
                  - configMap:
                      name: zowe-certificates-cm
                  - secret:
                      name: zowe-certificates-secret
            - name: zowe-workspace
              persistentVolumeClaim:
                claimName: zowe-workspace-pvc
          restartPolicy: OnFailure
          containers:
            - name: cleanup-static-definitions
              image: zowe-docker-snapshot.jfrog.io/ompzowe/zowe-launch-scripts:1.28.2-ubuntu.v1-x-staging
              imagePullPolicy: Always
              resources:
                requests:
                  memory: "64Mi"
                  cpu: "10m"
                limits:
                  memory: "128Mi"
                  cpu: "100m"
              command:
                - /bin/bash
                - -c
                - /component/bin/internal/container-init.sh; /home/zowe/instance/bin/utils/cleanup-static-definitions.sh
              securityContext:
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - all
              volumeMounts:
                - name: zowe-runtime
                  mountPath: "/home/zowe/runtime"
                - name: zowe-instance
                  mountPath: "/home/zowe/instance"
                - name: zowe-config
                  mountPath: "/home/zowe/instance/instance.env"
                  subPath: instance.env
                  readOnly: true
                - name: zowe-keystore
                  mountPath: "/home/zowe/keystore/"
                  readOnly: true
                - name: zowe-workspace
                  mountPath: "/home/zowe/instance/workspace"
          initContainers:
            - name: update-workspace-permission
              image: busybox:1.28
              command: ['sh', '-c', 'OWNER=`stat -c "%u:%g" /home/zowe/instance/workspace` && PERMISSION=`stat -c "%a" /home/zowe/instance/workspace` && echo "Zowe workspace owner is ${OWNER} with ${PERMISSION} permission" && if [ "${OWNER}" != "20000:20000" -a "${PERMISSION}" != "777" ]; then chown -R 20000:20000 /home/zowe/instance/workspace; fi']
              imagePullPolicy: Always
              resources:
                requests:
                  memory: "64Mi"
                  cpu: "10m"
                limits:
                  memory: "128Mi"
                  cpu: "100m"
              volumeMounts:
                - name: zowe-workspace
                  mountPath: "/home/zowe/instance/workspace"
              securityContext:
                readOnlyRootFilesystem: true
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - all
                  add:
                    - CHOWN
                runAsUser: 0
                runAsGroup: 0
