.history/
tmp/
.vscode/
.pytest_cache/
*.pyc

# logs
*.log

# zip files
# *.pax
*.zip
*.tar
*.gz

# Mac files
.DS_Store

# workspace content should be updated by program
.pax/*
!.pax/.keep
!.pax/pre-packaging.sh
!.pax/post-packaging.sh
!.pax/prepare-workspace.sh

# zowe jobs output
output/

# release temporary folder
.release/

# workflow folder
files/workflows/
