.history/
tmp/
.vscode/
.pytest_cache/
*.pyc

# logs
*.log

# zip files
*.pax
*.zip
*.tar
*.gz

# Mac files
.DS_Store

# workspace content should be updated by program
pax-workspace/*
!pax-workspace/.keep
!pax-workspace/pre-packaging.sh
!pax-workspace/post-packaging.sh
