.history/
tmp/
.vscode/
.pytest_cache/
*.pyc
*.iml
.idea

# emacs save files
*~

# logs
*.log

# archive files
# *.pax
*.zip
*.tar
*.gz
*.xz
*.bz2

# compile java binary
*.class

# nodejs
**/node_modules

# Compiled TS files
bin/libs/*.js
build/zwe/out

# Mac files
.DS_Store

# workspace content should be updated by program
.pax/*
!.pax/.keep
!.pax/pre-packaging.sh
!.pax/post-packaging.sh
!.pax/prepare-workspace.sh
!.pax/catchall-packaging.sh

# build temporary files
manifest.json
artifactory-download-spec.json

# zowe jobs output
output/

# release temporary folder
.release/

# workflow folder
files/workflows/
