#!/bin/sh

# Function: install the Zowe SMP/E PAX file
# POC - no error checking
# Requires opercmd to check job RC

# Inputs
# <OLD VERSION> $download_path/$FMID.$README      # EBCDIC text of README job JCL text file
# $download_path/$FMID.$README      # ASCII  text of README job JCL text file
# $download_path/$FMID.pax.Z        # binary SMP/E PAX file of Zowe product

# identify this script
# SCRIPT_DIR="$(dirname $0)"
SCRIPT_DIR=`pwd`
SCRIPT="$(basename $0)"
echo script $SCRIPT started from $SCRIPT_DIR

# allow to customize /tmp folder
if [ -z "${CIZT_TMP}" ]; then
  CIZT_TMP=/tmp
fi

if [[ $# -ne 10 ]]   # until script is called with 10 parms
then
echo; echo $SCRIPT Usage:
cat <<EndOfUsage
$SCRIPT Hlq Csihlq Thlq Dhlq Pathprefix download_path zfs_path FMID PREFIX volser

   Parameter subsitutions:
 a.  for SMP/E jobs:
   Parm name	    Value used	    Meaning
   ---------        ----------      -------
 1  hlq	            ZOE     	    DSN HLQ
 2  csihlq	        ZOE.SMPE	    HLQ for our CSI
 3  thlq	        ZOE.SMPE	    TZONE HLQ
 4  dhlq	        ZOE.SMPE	    DZONE HLQ
 5  pathprefix	    /tmp/   	    Path Prefix of {{ zowe_smpe_default_path }},
                                    where SMP/E will install zowe runtimes

 b.  For GIMUNZIP job:
 6  download_path   /tmp            where PAX and README are located
 7  zfs_path 	    /tmp/zowe/smpe	SMPDIR where GIMUNZIP unzips the PAX file
 8  FMID	        AZWE001	        The FMID for this release (omitted in archid of SMPMCS?)
 9  PREFIX	        ZOE             RELFILE prefix?
10  volser          B3PRD3          volume serial number of a DASD volume to hold MVS datasets 

EndOfUsage
exit
fi

hlq=${1}
csihlq=$2
thlq=$3
dhlq=$4
pathprefix=$5
download_path=$6
zfs_path=$7
FMID=$8
PREFIX=$9
shift
volser=$9
# volser=B3IME1  # B3PRD3

echo $SCRIPT    hlq=$hlq
echo $SCRIPT    csihlq=$csihlq
echo $SCRIPT    thlq=$thlq
echo $SCRIPT    dhlq=$dhlq
echo $SCRIPT    pathprefix=$pathprefix
echo $SCRIPT    download_path=$download_path
echo $SCRIPT    zfs_path=$zfs_path
echo $SCRIPT    FMID=$FMID
echo $SCRIPT    PREFIX=$PREFIX
echo $SCRIPT    volser=$volser

operdir=$SCRIPT_DIR         # this is where opercmd should be available

head -1 $operdir/opercmd | grep REXX 1> /dev/null 2> /dev/null
if [[ $? -ne 0 ]]
then
    echo $SCRIPT ERROR: opercmd not found in $operdir or is not valid REXX 
    echo $SCRIPT INFO: CWD is `pwd`
    exit 9
fi

README=readme.txt                   # the filename of the FMID.readme-v.m.r-smpe-test-nn-yyyymmddhhmmss.txt file

# # prepare to run this script

function runJob {

    echo; echo $SCRIPT function runJob started
    jclname=$1

    echo $SCRIPT jclname=$jclname #jobname=$jobname
    ls -l $jclname

    # show JCL for debugging purpose
    echo $SCRIPT ====================== content start ======================
    cat $jclname
    echo $SCRIPT ====================== content end ========================

    # submit the job using the USS submit command
    submit $jclname > $CIZT_TMP/submit.job.$$.out
    if [[ $? -ne 0 ]]
    then
        echo $SCRIPT ERROR: submit JCL $jclname failed
        return 1
    else
        echo $SCRIPT INFO: JCL $jclname submitted
    fi

    # capture JOBID of submitted job
    jobid=`cat $CIZT_TMP/submit.job.$$.out \
        | sed "s/.*JOB JOB\([0-9]*\) submitted.*/\1/"`
    rm $CIZT_TMP/submit.job.$$.out 2> /dev/null 

    # echo; echo $SCRIPT JOBID=$jobid

    # wait for job to finish
    jobdone=0
    for secs in 1 5 10 30 100 300 500
    do
        sleep $secs
        $operdir/opercmd "\$DJ${jobid},CC" > $CIZT_TMP/dj.$$.cc
            # $DJ gives ...
            # ... $HASP890 JOB(JOB1)      CC=(COMPLETED,RC=0)  <-- accept this value
            # ... $HASP890 JOB(GIMUNZIP)  CC=()  <-- reject this value
        
        grep "$HASP890 JOB(.*) *CC=(.*)" $CIZT_TMP/dj.$$.cc > /dev/null
        if [[ $? -eq 0 ]]
        then
            jobname=`sed -n "s/.*$HASP890 JOB(\(.*\)) *CC=(.*).*/\1/p" $CIZT_TMP/dj.$$.cc`
            if [[ ! -n "$jobname" ]]
            then
                jobname=empty
            fi 
        else
            jobname=unknown
        fi
        echo $SCRIPT INFO: Checking for completion of jobname $jobname jobid $jobid
        
        grep "CC=(..*)" $CIZT_TMP/dj.$$.cc > /dev/null   # ensure CC() is not empty
        if [[ $? -eq 0 ]]
        then
            jobdone=1
            break
        fi
    done
    if [[ $jobdone -eq 0 ]]
    then
        echo $SCRIPT ERROR: job ${jobid} PID=$$ not run in time
        echo $SCRIPT DISPLAY JOB output was:
        cat $CIZT_TMP/dj.$$.cc
        rm $CIZT_TMP/dj.$$.cc 2> /dev/null 
        return 2
    else
        : # echo; echo $SCRIPT job JOB$jobid completed
    fi

    # jobname=`sed -n 's/.*JOB(\([^ ]*\)).*/\1/p' $CIZT_TMP/dj.$$.cc`
    # echo $SCRIPT jobname $jobname
    
    # $operdir/opercmd "\$DJ${jobid},CC" > $CIZT_TMP/dj.$$.cc
    grep RC= $CIZT_TMP/dj.$$.cc > /dev/null
    if [[ $? -ne 0 ]]
    then
        echo $SCRIPT ERROR: no return code for jobid $jobid PID=$$
        echo $SCRIPT DISPLAY JOB output was:
        cat $CIZT_TMP/dj.$$.cc
        rm $CIZT_TMP/dj.$$.cc 2> /dev/null 
        return 3
    fi
    
    rc=`sed -n 's/.*RC=\([0-9]*\))/\1/p' $CIZT_TMP/dj.$$.cc`
    # echo; echo $SCRIPT return code for JOB$jobid is $rc
    rm $CIZT_TMP/dj.$$.cc 2> /dev/null 
    if [[ $rc -gt 4 ]]
    then
        echo $SCRIPT ERROR: job "$jobname(JOB$jobid)" failed, RC=$rc 
        return 4
    fi
    # echo; echo $SCRIPT function runJob ended
}



# README -- README -- README

# README contains 3 jobs:
#
# //FILESYS     JOB - create and mount FILESYS
#
# //UNPAX       JOB - unpax the SMP/E PAX file
#
# //GIMUNZIP    JOB - runs GIMUNZIP to create SMP/E datasets and files

# convert the README to EBCDIC if required
iconv -f ISO8859-1 -t IBM-1047 $download_path/$FMID.$README > $zfs_path/readme.EBCDIC.jcl
grep "//GIMUNZIP " $zfs_path/readme.EBCDIC.jcl > /dev/null
if [[ $? -ne 0 ]]
then
    echo $SCRIPT ERROR: No GIMUNZIP JOB statement found in $download_path/$FMID.$README
    exit 1
fi

# Extract the GIMUNZIP job step
# sed -n '/\/\/GIMUNZIP /,$p' $download_path/$FMID.$README > gimunzip.jcl0
sed -n '/\/\/GIMUNZIP /,$p' $zfs_path/readme.EBCDIC.jcl > $zfs_path/gimunzip.jcl0
# chmod a+r AZWE001.readme.EBCDIC.txt

# Tailor the GIMUNZIP JCL
# sed "\
#     s+@zfs_path@+${zfs_path}+; \
#     s+&FMID\.+${FMID}+; \
#     s+@PREFIX@+${PREFIX}+" \
#     $zfs_path/gimunzip.jcl0 > $zfs_path/gimunzip.jcl1
CUSTOMIZED_VAR=CIZT_SMPE_VOLSER_GIMUNZIP
eval CUSTOMIZED_VOLSER=\$$CUSTOMIZED_VAR
if [ -z "$CUSTOMIZED_VOLSER" ]; then
  CUSTOMIZED_VOLSER="$volser"
fi
sed \
    -e "s+@zfs_path@+${zfs_path}+" \
    -e "s+&FMID\.+${FMID}+" \
    -e "s+@PREFIX@+${PREFIX}+" \
    -e "/<GIMUNZIP>/ a\\
    <TEMPDS volume=\"$CUSTOMIZED_VOLSER\"></TEMPDS>"\
    -e "/archid=/ a\\
    \ \ \ \ \ \ \ \ \ volume=\"$CUSTOMIZED_VOLSER\""\
    $zfs_path/gimunzip.jcl0 > $zfs_path/gimunzip.jcl1

# make the directory to hold the runtimes
mkdir -p ${pathprefix}{{ zowe_smpe_default_path }}/SMPE

# prepend the JOB statement
sed '1 i\
\/\/ZWE0GUNZ JOB' $zfs_path/gimunzip.jcl1 > $zfs_path/gimunzip.jcl

# un-pax the main FMID file
cd $zfs_path    # extract pax file and create work files here
echo; echo $SCRIPT un-PAX SMP/E file to $zfs_path
pax -rvf $download_path/$FMID.pax.Z

# Run the GIMUNZIP job
runJob $zfs_path/gimunzip.jcl
if [[ $? -ne 0 ]]
then
    echo $SCRIPT ERROR: GIMUNZIP JOB failed
    exit 1
fi


# SMP/E -- SMP/E -- SMP/E -- SMP/E

# run these SMP/E jobs
for smpejob in {{ zowe_smpe_fmid_install_steps | join(' \\\n') }}
do
    cp "//'${PREFIX}.ZOWE.${FMID}.F1($smpejob)'" $zfs_path/$smpejob.jcl0

    # we can customized which volume to use for each job
    CUSTOMIZED_VAR="CIZT_SMPE_VOLSER_$smpejob"
    eval CUSTOMIZED_VOLSER=\$$CUSTOMIZED_VAR
    if [ -z "$CUSTOMIZED_VOLSER" ]; then
        CUSTOMIZED_VOLSER="$volser"
    fi

	# sed "s/#hlq/$PREFIX/" $smpejob.jcl0 > $smpejob.jcl1
    # sed -f smpejob.sed $smpejob.jcl1 > $smpejob.jcl

    # Also fix ... 
    # //*           VOL=SER=&CSIVOL, 
    # /*VOLUMES(DUMMY)*/

    sed "\
        s/#csihlq/${csihlq}/; \
        s/#csivol/$CUSTOMIZED_VOLSER/; \
        s/#dvol/$CUSTOMIZED_VOLSER/; \
        s/#tzone/TZONE/; \
        s/#dzone/DZONE/; \
        s/#hlq/${PREFIX}/; \
        s/\[RFDSNPFX\]/ZOWE/; \
        s/#thlq/${thlq}/; \
        s/#dhlq/${dhlq}/; \
        s/#tvol//; \
        s/#dvol//; \
        s/<job parameters>//; \
        s+-PathPrefix-+${pathprefix}+; \
        s+/\*VOLUMES(&CSIVOL)\*/+  VOLUMES(\&CSIVOL)  +; \
        s+//\* *VOL=SER=&CSIVOL+// VOL=SER=\&CSIVOL+; \
        s+//\* *VOL=SER=&DVOL+// VOL=SER=\&DVOL+; \
        s+ADD DDDEF(SMPTLIB)+ADD DDDEF(SMPTLIB) CYL SPACE(864,25) DIR(10)+; \
        s+//\*SMPTLIB+//SMPTLIB+; \
        /^ *CHECK *$/d" \
        $zfs_path/$smpejob.jcl0 > $zfs_path/$smpejob.jcl

# ... you may run out of space 
# E37 on SMPTLIB:
# ADD DDDEF(SMPTLIB)


    #   hlq was PREFIX in later PAXes, so that line was as below to cater for that
            # s/#hlq/${PREFIX}/; \
        # s/ RFPREFIX(.*)//" \
        # hlq was just $hlq before ... s/#hlq/${hlq}/; \

    # this test won't be required once the error is fixed
    if [[ $smpejob = ZWE7APLY ]]
    then
        echo; echo $SCRIPT fix error in APPLY job PAX parameter
        cp "//'${csihlq}.${FMID}.F4(ZWESHPAX)'" $zfs_path/ZWESHPAX.jcl0
        echo; echo $SCRIPT find pe in JCL
        grep " -pe " $zfs_path/ZWESHPAX.jcl0
        sed 's/ -pe / -pp /' $zfs_path/ZWESHPAX.jcl0 > $zfs_path/ZWESHPAX.jcl
        cp $zfs_path/ZWESHPAX.jcl  "//'${csihlq}.${FMID}.F4(ZWESHPAX)'"
    fi

    runJob $zfs_path/$smpejob.jcl
    if [[ $? -ne 0 ]]
    then
        echo $SCRIPT ERROR: SMP/E JOB $smpejob failed
        exit 2
    fi

done

echo script $SCRIPT ended from $SCRIPT_DIR
