---
# ==============================================================================
# Constants
# ==============================================================================
# 150 * 10 seconds = 25 mins
wait_for_zowe_service_retries: 150
# Every 10 seconds
wait_for_zowe_service_delay: 10

# ==============================================================================
# Variables should be verified and overwrittern.
# ==============================================================================
# optional, default to ansible_ssh_host
# required for zD&T (external IP is different from internal IP)
zowe_zos_host:
# optional, default to zowe_zos_host
# for z/OS deployment, this can be left empty and be same as zowe_zos_host
# for all-in-one docker deployment, this can be set to domain where you start docker container
zowe_external_domain_name:
# optional, default to ansible_user
zowe_test_user:
# optional, default to ansible_password
zowe_test_password:

# ports will be tested
#zowe_zss_port: 7557
zowe_zlux_port: 7556
zowe_jobs_api_port: 7558
zowe_apiml_gateway_port: 7554
