# =================================================================
# zowe install configuration
# =================================================================
# zowe-install: The directory that zowe will be installed into
install:
  rootDir=~/zowe/{ZOWE_VERSION}
  datasetPrefix={userid}.ZWE
  zoweAdminGroup=IZUADMIN

# Do not delete this last line
