name: Zowe Build and Packaging
on:
  # push:
  #   branches:
  #     - staging 
  # pull_request:
  #   types: [opened, synchronize]
  workflow_call:
    inputs:
      BUILD_SMPE:
        required: false
        type: boolean
      BUILD_PSIANDSMPE:
        required: false
        type: boolean
      BUILD_DOCKER:
        required: false
        type: boolean
      BUILD_DOCKER_SOURCES:
        required: false
        type: boolean
      BUILD_KUBERNETES:
        required: false
        type: boolean
      KEEP_TEMP_PAX_FOLDER:
        required: false
        type: boolean
    secrets:
      JF_ARTIFACTORY_TOKEN:
        required: true
      SSH_MARIST_USERNAME:
        required: true
      SSH_MARIST_RACF_PASSWORD:
        required: true
      ZLINUX_SSH_KEY:
        required: true
      ZLINUX_HOST:
        required: true
      ZLINUX_SSH_USER:
        required: true
      ZLINUX_SSH_PASSPHRASE:
        required: true
      DOCKERHUB_USER:
        required: true
      DOCKERHUB_PASSWORD:
        required: true

  workflow_dispatch:
    inputs:
      BUILD_SMPE:
        description: 'Build SMPE'
        required: false
        default: 'false'
        type: boolean
      BUILD_PSIANDSMPE:
        description: 'Build PSI and SMPE'
        required: false
        default: 'false'
        type: boolean
      BUILD_DOCKER:
        description: 'Build Docker'
        required: false
        default: 'false'
        type: boolean
      BUILD_DOCKER_SOURCES:
        description: 'Build Docker sources'
        required: false
        default: 'false'
        type: boolean
      BUILD_KUBERNETES:
        description: 'Build Kubernetes'
        required: false
        default: 'false'
        type: boolean
      KEEP_TEMP_PAX_FOLDER:
        description: 'do we need to keep temp pax folder?'
        required: false
        default: 'false'
        type: boolean

jobs:
  check-permission:
    runs-on: ubuntu-latest
    steps:
      # this action will fail the whole workflow if permission check fails
      - name: check permission
        uses: zowe-actions/shared-actions/permission-check@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}  
  
  regular-build:
    runs-on: ubuntu-latest
    needs: check-permission
    steps: 
      - name: '[Prep 1] Checkout'
        uses: actions/checkout@v2
  
      - name: '[Prep 2] Setup jFrog CLI'
        uses: jfrog/setup-jfrog-cli@v2
        env:
          JF_ARTIFACTORY_1: ${{ secrets.JF_ARTIFACTORY_TOKEN }}
      
      - name: '[Prep 3] Convert manifest template to manifest.json'
        run: |
          COMMIT_HASH=$(git rev-parse --verify HEAD)
          CURRENT_TIME=$(date +%s)
          if [ -z ${{ github.event.pull_request.number }} ]
          then
            CURRENT_BRANCH=${GITHUB_REF#refs/heads/} 
          else
            CURRENT_BRANCH=PR-${{ github.event.pull_request.number }}
          fi
          sed -e "s#{BUILD_BRANCH}#${CURRENT_BRANCH}#g" \
              -e "s#{BUILD_NUMBER}#${{ github.run_number }}#g" \
              -e "s#{BUILD_COMMIT_HASH}#${COMMIT_HASH}#g" \
              -e "s#{BUILD_TIMESTAMP}#${CURRENT_TIME}#g" \
              manifest.json.template > manifest.json
          
          echo "Current manifest.json is:"
          cat manifest.json

      - name: '[Prep 4] Validate package.json'
        uses: zowe-actions/shared-actions/validate-package-json@main

      - name: '[Prep 5] Prepare workflow'
        uses: zowe-actions/shared-actions/prepare-workflow@main
        with:
          package-name: org.zowe
          extra-init: |
            const fs = require('fs');
            var mjson = '${{ github.workspace }}/manifest.json';
            var _manifestObject = JSON.parse(fs.readFileSync(mjson));
            if (!_manifestObject || !_manifestObject['name'] || _manifestObject['name'] != 'Zowe' || !_manifestObject['version']) {
              console.error('Cannot read manifest or manifest is invalid.');
            }

      - name: '[Prep 6] Process github.event.inputs and inputs'
        run: |
          if [[ -z "${{ github.event.inputs.BUILD_SMPE }}" ]]; then
            echo INPUTS_BUILD_SMPE=${{ inputs.BUILD_SMPE }} >> $GITHUB_ENV
          else 
            echo INPUTS_BUILD_SMPE=${{ github.event.inputs.BUILD_SMPE }} >> $GITHUB_ENV
          fi
          
          if [[ -z "${{ github.event.inputs.BUILD_PSIANDSMPE }}" ]]; then
            echo INPUTS_BUILD_PSIANDSMPE=${{ inputs.BUILD_PSIANDSMPE }} >> $GITHUB_ENV
          else 
            echo INPUTS_BUILD_PSIANDSMPE=${{ github.event.inputs.BUILD_PSIANDSMPE }} >> $GITHUB_ENV
          fi

          if [[ -z "${{ github.event.inputs.BUILD_DOCKER }}" ]]; then
            echo INPUTS_BUILD_DOCKER=${{ inputs.BUILD_DOCKER }} >> $GITHUB_ENV
          else 
            echo INPUTS_BUILD_DOCKER=${{ github.event.inputs.BUILD_DOCKER }} >> $GITHUB_ENV
          fi

          if [[ -z "${{ github.event.inputs.BUILD_DOCKER_SOURCES }}" ]]; then
            echo INPUTS_BUILD_DOCKER_SOURCES=${{ inputs.BUILD_DOCKER_SOURCES }} >> $GITHUB_ENV
          else 
            echo INPUTS_BUILD_DOCKER_SOURCES=${{ github.event.inputs.BUILD_DOCKER_SOURCES }} >> $GITHUB_ENV
          fi

          if [[ -z "${{ github.event.inputs.BUILD_KUBERNETES }}" ]]; then
            echo INPUTS_BUILD_KUBERNETES=${{ inputs.BUILD_KUBERNETES }} >> $GITHUB_ENV
          else 
            echo INPUTS_BUILD_KUBERNETES=${{ github.event.inputs.BUILD_KUBERNETES }} >> $GITHUB_ENV
          fi

          if [[ -z "${{ github.event.inputs.KEEP_TEMP_PAX_FOLDER }}" ]]; then
            echo INPUTS_KEEP_TEMP_PAX_FOLDER=${{ inputs.KEEP_TEMP_PAX_FOLDER }} >> $GITHUB_ENV
          else 
            echo INPUTS_KEEP_TEMP_PAX_FOLDER=${{ github.event.inputs.KEEP_TEMP_PAX_FOLDER }} >> $GITHUB_ENV
          fi

      - name: '[PAX/SMPE Download 1] Download from jfrog according to manifest'
        uses: zowe-actions/shared-actions/jfrog-download@main
        with:
          manifest-file-path: ${{ github.workspace }}/manifest.json
          default-target-path: .pax/content/zowe-${{ env.P_VERSION }}/files/
          expected-count: 28
      
      # this step is not doing a publish, we are just utilizing this actions to get the PUBLISH_TARGET_PATH, 
      # and it will be used in the next step: [Download 3] Download SMPE build log
      - name: '[SMPE Download 2] Get publish target path'
        if: env.INPUTS_BUILD_SMPE == 'true' || env.INPUTS_BUILD_PSIANDSMPE == 'true'
        uses: zowe-actions/shared-actions/publish@main

      - name: '[SMPE Download 3] Download SMPE build log'
        if: env.INPUTS_BUILD_SMPE == 'true' || env.INPUTS_BUILD_PSIANDSMPE == 'true'
        uses: zowe-actions/shared-actions/jfrog-download@main
        with:
          source-path-or-pattern: ${{ env.PUBLISH_TARGET_PATH }}smpe-build-logs-*.pax.Z
          default-target-path: .pax/content/smpe/
          extra-options: --flat=true --sort-by=created --sort-order=desc --limit=1
          bypass-validation: true

      - name: '[PAX/SMPE 1] Pre-packaging'
        id: pax-prep
        run: |
          if [ "${{ env.INPUTS_BUILD_SMPE }}" == "true" ] || [ "${{ env.INPUTS_BUILD_PSIANDSMPE }}" == "true" ] ; then
            echo ::set-output name=EXTRA_FILES::zowe-smpe.zip,fmid.zip,pd.htm,smpe-promote.tar,smpe-build-logs.pax.Z,rename-back.sh
            echo ::set-output name=BUILD_SMPE::yes
          else
            echo ::set-output name=EXTRA_FILES::
            echo ::set-output name=BUILD_SMPE::
          fi
          
          if [ "${{ env.INPUTS_BUILD_PSIANDSMPE }}" == "true" ] ; then
            echo ::set-output name=BUILD_PSI::yes
          else
            echo ::set-output name=BUILD_PSI::
          fi
          if [ "${{ env.INPUTS_KEEP_TEMP_PAX_FOLDER }}" == "true" ] ; then
            echo ::set-output name=KEEP_TEMP_FOLDER::yes
          else
            echo ::set-output name=KEEP_TEMP_FOLDER::
          fi

      - name: '[PAX/SMPE Pax 2] Packaging'
        timeout-minutes: 90
        uses: zowe-actions/shared-actions/make-pax@main
        with: 
          pax-name: zowe
          pax-options: '-o saveext'
          pax-ssh-username: ${{ secrets.SSH_MARIST_USERNAME }}
          pax-ssh-password: ${{ secrets.SSH_MARIST_RACF_PASSWORD  }}
          keep-temp-folders: ${{ env.INPUTS_KEEP_TEMP_PAX_FOLDER }}
          extra-files: ${{ steps.pax-prep.outputs.EXTRA_FILES }}
          extra-environment-vars: |
            ZOWE_VERSION=${{ env.P_VERSION }}
            BUILD_SMPE=${{ steps.pax-prep.outputs.BUILD_SMPE }}
            BUILD_PSI=${{ steps.pax-prep.outputs.BUILD_PSI }}
            KEEP_TEMP_FOLDER=${{ steps.pax-prep.outputs.KEEP_TEMP_FOLDER }}

      - name: '[SMPE Pax 3] Post-make pax'
        if: env.INPUTS_BUILD_SMPE == 'true' || env.INPUTS_BUILD_PSIANDSMPE == 'true'
        run: |
          cd .pax
          chmod +x rename-back.sh
          cat rename-back.sh
          ./rename-back.sh

      - name: '[PAX/SMPE Publish] Upload to artifactory'
        id: publish
        uses: zowe-actions/shared-actions/publish@main
        with:
          artifacts: |
            .pax/zowe.pax
            .pax/zowe-smpe.zip
            .pax/smpe-promote.tar
            .pax/pd.htm
            .pax/smpe-build-logs.pax.Z
            .pax/AZWE*

      - name: '[TP_ZLINUX_DOCKER 1] Configure SSH'
        if: env.INPUTS_BUILD_DOCKER == 'true'
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.ZLINUX_SSH_KEY }}" > ~/.ssh/zlinux.key
          chmod 600 ~/.ssh/zlinux.key
          cat >>~/.ssh/config <<END
          Host zlinux
            HostName ${{ secrets.ZLINUX_HOST }}
            User ${{ secrets.ZLINUX_SSH_USER }}
            IdentityFile ~/.ssh/zlinux.key
            StrictHostKeyChecking no
            LogLevel QUIET
          END
        shell: bash

      - name: '[TP_ZLINUX_DOCKER 2] Build zLinux Docker'
        if: env.INPUTS_BUILD_DOCKER == 'true'
        timeout-minutes: 60
        uses: zowe-actions/shared-actions/tech-preview-build-zlinux-docker@main
        with: 
          run-number: ${{ github.run_number }}
          zowe-pax-jfrog-upload-target: ${{ steps.publish.outputs.zowe-pax-jfrog-upload-target }}
          build-docker-sources: ${{ env.INPUTS_BUILD_DOCKER_SOURCES }}
          dockerhub-user: ${{ secrets.DOCKERHUB_USER }}
          dockerhub-password: ${{ secrets.DOCKERHUB_PASSWORD }}
          zlinux-ssh-server: zlinux
          zlinux-ssh-key-passphrase: ${{ secrets.ZLINUX_SSH_PASSPHRASE }}

      - name: '[TP_ZLINUX_DOCKER 3] Upload zlinux docker to artifactory'
        if: env.INPUTS_BUILD_DOCKER == 'true'
        uses: zowe-actions/shared-actions/publish@main
        with:
          artifacts: server-bundle.s390x.tar

      - name: '[TP_ZLINUX_DOCKER 4] Upload zlinux docker sources to artifactory'
        if: env.INPUTS_BUILD_DOCKER_SOURCES == 'true'
        uses: zowe-actions/shared-actions/publish@main
        with:
          artifacts: server-bundle.sources.s390x.tar

      - name: '[TP_LINUX_DOCKER 1] Download zowe.pax'
        if: env.INPUTS_BUILD_DOCKER == 'true'
        uses: zowe-actions/shared-actions/jfrog-download@main
        with:
          source-path-or-pattern: ${{ steps.publish.outputs.zowe-pax-jfrog-upload-target }}
          default-target-path: 'containers/server-bundle/zowe.pax'
          extra-options: --flat=true
          expected-count: 1
      
      - name: '[TP_LINUX_DOCKER 2] Build Linux Docker'
        if: env.INPUTS_BUILD_DOCKER == 'true'
        working-directory: containers/server-bundle
        run: |
          # copy utils to docker build folder
          mkdir -p utils
          cp -r ../utils/* ./utils

          # show files
          echo ">>>>>>>>>>>>>>>>>> sub-node: "
          pwd && ls -ltr .
          
          # build docker image
          docker login -u "${{ secrets.DOCKERHUB_USER }}" -p "${{ secrets.DOCKERHUB_PASSWORD }}" 
          docker build -t ompzowe/server-bundle:amd64 .
          docker save -o server-bundle.amd64.tar ompzowe/server-bundle:amd64
            
          if [ "${{ env.INPUTS_BUILD_DOCKER_SOURCES }}" == "true" ] ; then
            docker build -f Dockerfile.sources --build-arg BUILD_PLATFORM=amd64 -t ompzowe/server-bundle:amd64-sources .
            docker save -o server-bundle.sources.amd64.tar ompzowe/server-bundle:amd64-sources
          fi
          
          # show files
          echo ">>>>>>>>>>>>>>>>>> docker tar: "
          pwd && ls -ltr server-bundle.*
          
      - name: '[TP_LINUX_DOCKER 3] Upload linux docker to artifactory'
        if: env.INPUTS_BUILD_DOCKER == 'true'
        uses: zowe-actions/shared-actions/publish@main
        with:
          artifacts: containers/server-bundle/server-bundle.amd64.tar

      - name: '[TP_LINUX_DOCKER 4] Upload linux docker sources to artifactory'
        if: env.INPUTS_BUILD_DOCKER_SOURCES == 'true'
        uses: zowe-actions/shared-actions/publish@main
        with:
          artifacts: containers/server-bundle/server-bundle.sources.amd64.tar

      - name: '[K8S 1] Build Kubernetes'
        timeout-minutes: 10
        if: env.INPUTS_BUILD_KUBERNETES == 'true'
        working-directory: containers
        run: |
          ./build/parse-manifest-to-deployment.sh
          zip -r zowe-containerization.zip kubernetes

      - name: '[K8S 2] Upload k8s zip to artifactory'
        if: env.INPUTS_BUILD_KUBERNETES == 'true'
        uses: zowe-actions/shared-actions/publish@main
        with:
          artifacts: containers/zowe-containerization.zip